#u117
{
	background-color: #C6CBCC;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}

#u118
{
	-pie-box-shadow: -1px 1px 5px #F2F2F2;
	box-shadow: -1px 1px 5px rgba(0,0,0,0.05);
	border-style: none;
	border-color: transparent;
	border-radius: 20px;
	-webkit-transform: matrix(0,-1,1,0,0,30);
	-ms-transform: matrix(0,-1,1,0,0,30);
	transform: matrix(0,-1,1,0,0,30);
	position: relative;
	background: #FFFFFF url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u118:hover
{
	background: #EDEDED url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u118:active
{
	background: #F7F7F7 url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u132-5
{
	background-color: transparent;
	letter-spacing: 2px;
	text-align: center;
	font-size: 27px;
	line-height: 32px;
	font-family: '__Bebas_5';
	font-weight: 400;
	position: relative;
}

#u132-5.MuseLinkActive p,#u132-5.MuseLinkActive span
{
	font-size: 36px;
	letter-spacing: 3px;
}

#u132
{
	color: #7F7F7F;
}

#u132-2
{
	color: #9DC6D8;
}

#u133-4
{
	background-color: transparent;
	line-height: 18px;
	font-size: 12px;
	position: relative;
}

#u120-9,#u136-7
{
	font-size: 14px;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u119-12,#u120-11,#u121-4,#u131-4,#u135-4,#u136-9,#u368,#u374,#u386
{
	background-color: transparent;
	position: relative;
}

