#form-position {
	width: 30%;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}

.product-label {
	font-weight: bold;
	padding-left: 10px;
}

#product_brand {
	width: 100%;
	padding-left: 10px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DC6D8;
	background-color: transparent;
	border-radius: 10px;
}

#product_name {
	width: 100%;
	padding-left: 10px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DC6D8;
	background-color: transparent;
	border-radius: 10px;
}

#product_price {
	width: 100%;
	padding-left: 10px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DC6D8;
	background-color: transparent;
	border-radius: 10px;
}

#product_sku {
	width: 100%;
	padding-left: 10px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DC6D8;
	background-color: transparent;
	border-radius: 10px;
}

#product_description {
	width: 100%;
	padding: 4px 10px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DC6D8;
	background-color: transparent;
	border-radius: 10px;
	overflow: hidden;
}

.product-form-div {
	padding: 10px;
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.paperclip-label {
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DC6D8;
	border-radius: 10px;
	cursor: pointer;
}

.paperclip-label:hover {
	font-weight: bold;
	border-width: 2px; 
}

#product-submit {
	padding: 10px;
	width: 100%;
	font-weight: bold;
	border-radius: 10px;
	background-color: #9DC6D8;
	margin-left: 10px;
	margin-top: 15px;
	cursor: pointer;
}

#product-submit:hover {
	border: 2px black solid;
}

.product-form-title {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 5px;
}

.add-product-link-div {
	z-index: 163;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	position: fixed;
	top: 8px;
	margin-left: 90%;
}

#add-product-link {
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
