<div class="product-form-div">
  <%= f.label :color, "Color:", class: "product-label" %><br>
  <%= f.text_field :name, class: "color-name" %>
  <%= f.color_field "color" %>
  <span class="f-destroy">X</span>
</div>
