<div class="verticalspacer"></div>
<div class="clearfix colelem" id="pu117"><!-- group -->
  <div class="browser_width grpelem" id="u117-bw">
   	<div id="u117"><!-- simple frame --></div>
  </div>
  <div class="Footer---Subhead-1 clearfix grpelem" id="u119-12"><!-- content -->
    <h6>Our Story</h6>
    <h6>Our Products</h6>
    <h6>Privacy Policy</h6>
    <h6>Terms of Use</h6>
    <h6>Disclaimer</h6>
  </div>
  <div class="clearfix grpelem" id="u120-11"><!-- content -->
 		<h6 class="Footer---Subhead-1">Payments</h6>
  	<h6 class="Footer---Subhead-1">Shipping</h6>
    <h6 class="Footer---Subhead-1">Return Policy</h6>
    <h6 class="Footer---Subhead-1">Exchanges</h6>
    <p id="u120-9">&nbsp;</p>
  </div>
  <div class="Footer---Title clearfix grpelem" id="u121-4"><!-- content -->
    <h1>ABOUT US</h1>
  </div>
  <div class="Footer---Title clearfix grpelem" id="u131-4"><!-- content -->
    <h1>FOLLOW US</h1>
  </div>
  <a class="nonblock nontext clearfix grpelem" id="u132-5" href="/products"><!-- content --><p><span id="u132">Import</span><span id="u132-2">ant</span></p></a>
  <div class="Subhead-3 clearfix grpelem" id="u133-4"><!-- content -->
    <h6>© 2016 IMPORTANT.COM</h6>
  </div>
  <div class="Footer---Title clearfix grpelem" id="u135-4"><!-- content -->
    <h1>CUSTOMER SERVICE</h1>
  </div>
  <div class="clearfix grpelem" id="u136-9"><!-- content -->
    <h6 class="Footer---Subhead-1">My Account</h6>
    <h6 class="Footer---Subhead-1">Contact Us</h6>
    <h6 class="Footer---Subhead-1">Q&amp;A</h6>
    <p id="u136-7">&nbsp;</p>
  </div>
  <div class="clip_frame grpelem" id="u368"><!-- image -->
    <img class="block" id="u368_img" src=<%= asset_path "fb.png" %> alt="" width="30" height="30"/>
  </div>
  <div class="clip_frame grpelem" id="u374"><!-- image -->
    <img class="block" id="u374_img" src=<%= asset_path "insta.png" %> alt="" width="30" height="30"/>
  </div>
  <div class="clip_frame grpelem" id="u386"><!-- image -->
    <img class="block" id="u386_img" src=<%= asset_path "pinterest.png" %> alt="" width="30" height="30"/>
  </div>
</div>
