<div>
  <div class="pinned-colelem" id="u666"><!-- simple frame --></div>
  <div class="clearfix pinned-colelem" id="u665-3"><!-- content -->
    <p>&nbsp;</p>
  </div>
  <a class="anchor_item colelem" id="pagetop"></a>
  <div class="clearfix pinned-colelem" id="u667-4"><!-- content -->
    <p>Enjoy 10% off sitewide using code IMPORT10</p>
  </div>
  <div class="add-product-link-div">
    <%= link_to "Add New Product", new_product_path, id: "add-product-link" %>
  </div>
  <div class="browser_width" id="u668-5-bw">
    <a class="nonblock nontext clearfix pinned-colelem" id="u668-5" href="/products"><!-- content --><p><span id="u668">Import</span><span id="u668-2">ant</span></p></a>
  </div>
  <nav class="MenuBar clearfix pinned-colelem" id="menuu669"><!-- horizontal box -->
    <div class="MenuItemContainer clearfix grpelem" id="u684"><!-- vertical box -->
      <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="u687"><!-- horizontal box -->
        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u690-4"><!-- content -->
          <p>APPAREL</p>
        </div>
      </div>
    </div>
    <div class="MenuItemContainer clearfix grpelem" id="u670"><!-- vertical box -->
      <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="u673"><!-- horizontal box -->
        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u674-4"><!-- content -->
          <p>ACCESSORIES</p>
        </div>
      </div>
    </div>
    <div class="MenuItemContainer clearfix grpelem" id="u691"><!-- vertical box -->
      <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="u694"><!-- horizontal box -->
        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u697-4"><!-- content -->
          <p>BEAUTY &amp; COSMETICS</p>
        </div>
      </div>
    </div>
    <div class="MenuItemContainer clearfix grpelem" id="u698"><!-- vertical box -->
      <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="u701"><!-- horizontal box -->
        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u704-4"><!-- content -->
          <p>HOME &amp; GIFT</p>
        </div>
      </div>
    </div>
    <div class="MenuItemContainer clearfix grpelem" id="u677"><!-- vertical box -->
      <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="u678"><!-- horizontal box -->
        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u679-4"><!-- content -->
          <p>SALE</p>
        </div>
      </div>
    </div>
  </nav>
</div>
